.footer__action-button {
    background: gray;
    font-size: 1.2em;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__action-button:hover {
    background: gray;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.footer__info {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  height: 300px;
}

.footer__logo {
  text-align: center;

}

.footer__logo>img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
